<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="knaps.hacker.school"
    android:versionCode="5"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="knaps.hacker.school.HSFacesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HSActivity"
            android:label="@string/title_activity_list"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="knaps.hacker.school.HSProfileActivity"
            android:label="@string/title_activity_hsprofile"
            android:parentActivityName=".HSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="knaps.hacker.school.HSListActivity" />
        </activity>

        <provider
            android:name="knaps.hacker.school.data.HackerSchoolContentProvider"
            android:authorities="knaps.hacker.school.content"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="29d2a52e66d75d1535c30b8af164fca46f42fe7c"/>
    </application>

</manifest>
