<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="knaps.hacker.school"
    android:versionCode="4"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="knaps.hacker.school.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="knaps.hacker.school.HSListActivity"
            android:label="@string/title_activity_list"
            android:launchMode="singleTop"
            android:parentActivityName="knaps.hacker.school.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="knaps.hacker.school.LoginActivity" />
        </activity>
        <activity
            android:name=".game.GuessThatHSActivity"
            android:label="@string/title_activity_guess_that_hs"
            android:parentActivityName="knaps.hacker.school.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="knaps.hacker.school.LoginActivity" />
        </activity>
        <activity
            android:name="knaps.hacker.school.HSProfileActivity"
            android:label="@string/title_activity_hsprofile"
            android:parentActivityName="knaps.hacker.school.HSListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="knaps.hacker.school.HSListActivity" />
        </activity>
    </application>

</manifest>
